/* From restored-blog-clean/index.html */

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}




                .pearl-type-wrap {
                     background-color: #f0f0f0;
                     border-color: #CCCCCC;
                     border-style: solid;
                     border-width: 1px;
                     padding: 10px;
                     border-radius: 5px;
                }
                
                .pearl-type-wrap {
                     font-color: #000000;
                     font-size: 14px;
                     letter-spacing: 2px;
                   
                }
                
                


img#wpstats{display:none}

.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}

/* From restored-blog-clean/2013/11/index.html */

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}




                .pearl-type-wrap {
                     background-color: #f0f0f0;
                     border-color: #CCCCCC;
                     border-style: solid;
                     border-width: 1px;
                     padding: 10px;
                     border-radius: 5px;
                }
                
                .pearl-type-wrap {
                     font-color: #000000;
                     font-size: 14px;
                     letter-spacing: 2px;
                   
                }
                
                


img#wpstats{display:none}

.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}

/* From restored-blog-clean/2013/11/03/index.html */

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}




                .pearl-type-wrap {
                     background-color: #f0f0f0;
                     border-color: #CCCCCC;
                     border-style: solid;
                     border-width: 1px;
                     padding: 10px;
                     border-radius: 5px;
                }
                
                .pearl-type-wrap {
                     font-color: #000000;
                     font-size: 14px;
                     letter-spacing: 2px;
                   
                }
                
                


img#wpstats{display:none}


          .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover { color:#FFF; }body { background:#F1F2F4; }.site-description { color:#FFF; }.blog-header { background:#00b7ae; }.navbar-default { background:#00c9bf; }.dropdown-menu > .active > a { border-color:#00c9bf; }a, a:hover { color:#00c9bf; }.btn-primary, .bypostauthor .media-heading, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { background:#00c9bf; }.sticky, .form-control:focus, .search-field:focus, .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { border-color:#00c9bf; }h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a { color:#00c9bf; }          h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-weight:100; }h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family:Helvetica Neue; }body { font-family:Helvetica Neue; }           @media (min-width: 1200px) {
              .container {
                width: 970px;
              }
            }

                            .blog-header {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                }
            
                    

/* From restored-blog-clean/2013/11/tips-on-optimizing-scrapy-for-a-high-performance/index.html */

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}




                .pearl-type-wrap {
                     background-color: #f0f0f0;
                     border-color: #CCCCCC;
                     border-style: solid;
                     border-width: 1px;
                     padding: 10px;
                     border-radius: 5px;
                }
                
                .pearl-type-wrap {
                     font-color: #000000;
                     font-size: 14px;
                     letter-spacing: 2px;
                   
                }
                
                


img#wpstats{display:none}

.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}

/* From restored-blog-clean/2013/11/python-as-an-optimal-solution-for-todays-network-application-programming-challenges/index.html */

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}




                .pearl-type-wrap {
                     background-color: #f0f0f0;
                     border-color: #CCCCCC;
                     border-style: solid;
                     border-width: 1px;
                     padding: 10px;
                     border-radius: 5px;
                }
                
                .pearl-type-wrap {
                     font-color: #000000;
                     font-size: 14px;
                     letter-spacing: 2px;
                   
                }
                
                


img#wpstats{display:none}

.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}